<h1>EDIT</h1>
<% if signed_in? %>
  <% if current_user.id === @user.id %>
    <p>edit ur page</p>
    <%= form_with(url: edit_user_form_url(user_id: current_user.id)) do |f| %>
      <div class="">
        <%= f.label :name %> <br>
        <%= f.text_field :name, value: @user.name  %>
      </div>
      <div class="">
        <%= f.label :profile_picture %> <br>
        <%= f.file_field :profile_picture %>
      </div>
      <div class="">
        <%= f.label :profile_banner %> <br>
        <%= f.file_field :profile_banner %>
      </div>
      <%= f.submit "Save Edits" %>
    <% end %>
  <% end %>
<% end %>
