<div class="homeContainer">
  <a href="/">
    <h1 class="homeTitle">[soundScapes]</h1>
  </a>
  <div class="adminsChoiceContainer">
    <%# WILL BE FOR EACH OF ADMINS.CHOICE %>
    <% url = Sleepscape.first.sleepscape_still_picture %>
    <% customClass = "adminChoiceImg" + Sleepscape.fourth.id.to_s %>
    <div class="<%= "imageContainer " + customClass %>"></div>
    <style>
      .<%= customClass %> {
         background-image: url(<%= url_for(url) %>);
      }
    </style>
    <h1 class="adminTitle">Recommended Sound:</h1>
    <div class="recommendedInfo">
      <p class="infoTitle"><%= Sleepscape.fourth.title %></p>
      <p class="infoPoster">Posted By: <%= User.find(Sleepscape.fourth.user_id).name    %></p>
    </div>
    <%# END %>
  </div>
  <div class="adminSoundsBox">
    <h2 class="defaultHeader">Admin Curated Sounds:</h2>
    <div class="scapesHolder">
      <div class="sleepScapes">
        <div class="background user1Post">
          <style>
            /* NEED TO ADD A CUSTOM CLASS TO EACH ONE */
            .user1Post {
              background-image: url(<%= image_url("lake.jpg") %>);
              }
          </style>
        </div>
        <%#  %>
        <div class="sleepScapeInfo">
          <div class="scapeTitle">
            <p>A Morning In The Woods</p>
            <p class="subText">Recorded At: Upstate NY</p>
          </div>
        </div>
      </div>
      <%#  %>
      <div class="sleepScapes">
        <div class="background user2Post">
          <style>
            /* NEED TO ADD A CUSTOM CLASS TO EACH ONE */
            .user2Post {
              background-image: url(<%= image_url("desert.jpg") %>);
              }
          </style>
        </div>
        <%#%>
        <div class="sleepScapeInfo">
          <div class="scapeTitle">
            <p>A Day In The Desert</p>
            <p class="subText">Recorded At: Sahara Desert, IDK</p>
          </div>
        </div>
      </div>
      <%#  %>
      <div class="sleepScapes">
        <div class="background user3Post">
          <style>
            /* NEED TO ADD A CUSTOM CLASS TO EACH ONE */
            .user3Post {
              background-image: url(<%= image_url("lakeTwo.jpg") %>);
              }
          </style>
        </div>
        <%#  %>
        <div class="sleepScapeInfo">
          <div class="scapeTitle">
            <p>Relaxing Day At Lake</p>
            <p class="subText">Recorded At: Lake George, NY</p>
          </div>
        </div>
      </div>
      <%#  %>
      <div class="sleepScapes">
        <div class="background user4Post">
          <style>
            /* NEED TO ADD A CUSTOM CLASS TO EACH ONE */
                       .user4Post{
              background-image: url(<%= image_url("waterfall.jpg") %>);
              }
          </style>
        </div>
        <%#  %>
        <div class="sleepScapeInfo">
          <div class="scapeTitle">
            <p>WaterFall</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="adminSoundsBox">
    <h2 class="defaultHeader">Top User Created Sounds:</h2>
    <div class="scapesHolder">
    </div>
  </div>
  <div class="adminSoundsBox">
    <h2 class="defaultHeader">[soundScapes] by Genre:</h2>
    <div class="scapesHolder">
      <div class="sleepScapes">
      </div>
    </div>
  </div>
</div>
