  <a href=<%= sleepscape_page_url(user_id: sleep.user_id, sleepscape_id: sleep.id) %>>
      <% customClass = "sleepscapeNum" + sleep.id.to_s %>
      <div class="sleepScapes">
        <div class="<%= "background " + customClass %>">
          <% if sleep.sleepscape_still_picture.attached? %>
            <style>
              .<%= customClass %> {
              background-image: url(<%= url_for(sleep.sleepscape_still_picture) %>);
              }
            </style>
          <% else %>
            <style>
              .<%= customClass %> {
              background-image: url(<%= image_url("lake.jpg") %>);
              }
            </style>
          <% end %>
        </div>
        <%#%>
        <div class="sleepScapeInfo">
          <div class="scapeTitle">
            <p><%= sleep.title%></p>
            <p class="subText">Recorded At: <%= sleep.recorded_at %></p>
          </div>
        </div>
      </div>
    </a>
