<div class="usersPage">
  <div class="userHeader">
    <% if @user.profile_banner.attached? %>
      <style>
        .userHeader {
             background-image: url(<%= url_for(@user.profile_banner)  %>);
        }
      </style>
    <% else %>
      <style>
        .userHeader {
             background-image: url(<%= image_url("defaultUserBanner") %>);
        }
      </style>
    <% end %>
    <div class="formContent">
      <%= form_with url: edit_user_form_url(id: current_user.id) do |form| %>
        <div>
          <%= form.label :name %>
          <%= form.text_field :name, value: @user.name  %>
        </div>
        <%= form.submit %>
      <% end %>
    </div>
    <div class="left">
      <% if signed_in? %>
        <% if current_user.id === @user.id %>
          <%# WHERE THE EDIT BUTTON WILL BE %>
          <div class="userBtns editUserBtn" id="editUserBtn">
            <%= image_tag("editIcon", class: "editIcon") %>
            <p>EDIT</p>
          </div>
        <% else %>
          <% if current_user.followings.find_by(following_id: @user.id) %>
            <%= form_with url: remove_following_url(user_id: current_user.id) do |form| %>
              <%= form.hidden_field :follow_id, value: @user.id %>
              <%= form.submit :remove_follow , value: "UNFOLLOW", class: "userBtns followBtns followingBtn" %>
            <% end %>
          <% else %>
            <%= form_with url: add_following_url(user_id: current_user.id) do |form| %>
              <%= form.hidden_field :follow_id, value: @user.id %>
              <%= form.submit :follow, value: "FOLLOW", class: "userBtns followBtns" %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <div class="userBtns signInButton" id="editUserBtn">
          <p>SIGN IN
            TO FOLLOW</p>
        </div>
      <% end %>
    </div>
    <div class="middle">
      <div class="userPicture">
        <% if @user.profile_picture.attached? %>
          <%= image_tag(url_for(@user.profile_picture), class: "userPic") %>
        <% else %>
          <%= image_tag("defaultUser",class: "userPic")%>
        <%end %>
      </div>
      <div class="userName"><%= @user.name %></div>
    </div>
    <div class="right">
      <a href=<%= user_following_url(id: @user.id) %>>
        <div class="followersBox">
          <p class="followCount"><%= @user.followings.length %></p>
        <p class="followTitle">Following</p>
      </div>
    </a>
    <%#  %>
    <a href=<%= user_followers_url(id: @user.id) %>>
      <div class="followersBox">
        <p class="followCount"><%= @followers.length %> </p>
      <p class="followTitle">Followers</p>
    </div>
  </a>
</div>
</div>
<%# .              END OF HEADER             %>
<% if @sleepscapes.length < 1 %>
<% else %>
  <h3 class="defaultUserHeader"><%= @user.name %>'s [sleepScapes]</h3>
  <% @sleepscapes.each do |sleep|%>
    <a href=<%= sleepscape_page_url(user_id: sleep.user_id, sleepscape_id: sleep.id) %>>
    <% customClass = "sleepscapeNum" + sleep.id.to_s %>
    <div class="sleepScapes">
      <div class="<%= "background " + customClass %>">
        <% if sleep.sleepscape_still_picture.attached? %>
          <style>
            .<%= customClass %> {
            background-image: url(<%= url_for(sleep.sleepscape_still_picture) %>);
            }
          </style>
        <% else %>
          <style>
            .<%= customClass %> {
            background-image: url(<%= image_url("lake.jpg") %>);
            }
          </style>
        <% end %>
      </div>
      <%#%>
      <div class="sleepScapeInfo">
        <div class="scapeTitle">
          <p><%= sleep.title%></p>
          <p class="subText">Recorded At: <%= sleep.recorded_at %></p>
        </div>
      </div>
    </div>
  </a>
<% end %>
<% end %>
<br>
<br>
<br>
<h3><%= @user.name %> has <%= pluralize(@user.likes.length, 'like') %></h3>
<% @user.likes.each do |likes|%>
  <% sleep = Sleepscape.find(likes.liked_id) %>
  <a href=<%= sleepscape_page_url(user_id: sleep.user_id, sleepscape_id: sleep.id) %>>
    <% customClass = "sleepscapeNum" + sleep.id.to_s %>
    <div class="sleepScapes">
    <div class="<%= "background " + customClass %>">
      <% if sleep.sleepscape_still_picture.attached? %>
        <style>
          .<%= customClass %> {
          background-image: url(<%= url_for(sleep.sleepscape_still_picture) %>);
          }
        </style>
      <% else %>
        <style>
          .<%= customClass %> {
          background-image: url(<%= image_url("lake.jpg") %>);
          }
        </style>
      <% end %>
    </div>
    <%#%>
    <div class="sleepScapeInfo">
      <div class="scapeTitle">
        <p><%= sleep.title%></p>
        <p class="subText">Recorded At: <%= sleep.recorded_at %></p>
      </div>
    </div>
  </div>
</a>
<% end %>
</div>
