<div class="usersPage">
  <div class="userHeader">
    <% if @user.profile_banner.attached? %>
      <style>
        .userHeader {
             background-image: url(<%= url_for(@user.profile_banner)  %>);
        }
      </style>
    <% else %>
      <style>
        .userHeader {
             background-image: url(<%= image_url("defaultUserBanner") %>);
        }
      </style>
    <% end %>
    <div class="left"></div>
    <div class="middle">
      <div class="userPicture">
        <% if @user.profile_picture.attached? %>
          <%= image_tag(url_for(@user.profile_picture), class: "userPic") %>
        <% else %>
          <%= image_tag("defaultUser",class: "userPic")%>
        <%end %>
      </div>
      <div class="userName"><%= @user.name %></div>
    </div>
    <div class="right">
      <div class="followersBox">
        <p class="followCount">2</p>
        <p class="followTitle">Following</p>
      </div>
      <%#  %>
      <div class="followersBox">
        <p class="followCount">12</p>
        <p class="followTitle">Followers</p>
      </div>
    </div>
  </div>
</div>
<%#  %>
<%# @user.email %>
<%# @user.id %>
<%# if signed_in? %>
<%# if current_user.id === @user.id %>
<%# <h1>this is ur page</h1> %>
<%# else %>
<%# <h1>this is not ur page</h1> %>
<%# end %>
<%# else %>
<%# <h1>Sign in to follow</h1> %>
<%# end %>
