<% if @sleepscape.sleepscape_video.attached? %>
  <%= video_tag(url_for(@sleepscape.sleepscape_video), class: "backgroundImage sleepscapeBackground",autoplay: :autoplay,
loop: :loop, muted: true) %>
<% else %>
  <h5>i dont have a video</h5>
<% end %>
<div class="sleepScapeContainer">
  <div id="sleepscapeMenu" class="bottomFooter">
    <div class="topBar">
      <div class="pageInfo">
        <h1 class="sleepscapeTitle">
          <%= @sleepscape.title %> - <%= @sleepscape.recorded_at %>
        </h1>
      </div>
      <div id="infoBtn" class="footerBtn">
        info
      </div>
      <div id="commentsBtn" class="footerBtn">
        comments
      </div>
      <% if signed_in? %>
        <% if current_user.likes.find_by(liked_id: @sleepscape.id) %>
          <%# if user HAS liked this post already %>
          <%= form_with url: remove_like_sleepscape_url(user_id: current_user.id) do |form|%>
            <%= form.hidden_field :liked_id, value: @sleepscape.id %>
            <%= form.submit :unlike, class: "footerBtn formBtn likedBtn", value: "Un-Like" %>
            <%#  %>
          <% end %>
        <% else %>
          <%# if user HASNT liked this post already %>
          <%= form_with url: like_sleepscape_url(sleepscape_id: @sleepscape.id) do |form|%>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.hidden_field :liked_id, value: @sleepscape.id %>
            <%= form.submit :like, class: "footerBtn formBtn", value: "Like" %>
          <% end %>
        <% end %>
      <% else %>
        <div class="footerBtn">
          Sign In To Like
        </div>
      <% end %>
    </div>
    <div id="bottomMenu" class="bottomContainer">
      <div id="infoContainer">
        <h3 class="infoTitle"><%= @sleepscape.title %></h3>
        <h3 class="infoLocation"><%= @sleepscape.recorded_at %></h3>
        <div class="line"></div>
        <p class="infoDescription"><%= @sleepscape.description %></p>
      </div>
      <div id="commentsContainer">
        <div class="commentsBox">
          <% @comments.each do |comment| %>
            <% commentUser = User.find(comment.user_id) %>
            <div class="comment">
              <p class="timeAgoText"><%= time_ago_in_words(comment.created_at) %> ago</p>
              <div class="left">
                <div class="userPicture">
                  <% if commentUser.profile_picture.attached? %>
                    <%= image_tag(commentUser.profile_picture, class: "commentPic")%>
                  <% else %>
                    <%= image_tag("defaultUser", class: "commentPic")%>
                  <% end %>
                </div>
                <div class="userName"><%= commentUser.name %></div>
              </div>
              <div class="right">
                <div class="bubble">
                  <p class="commentText"><%= comment.content %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="createCommentBox"></div>
      </div>
    </div>
  </div>
</div>
<%# old stuff hiding behind lol %>
