<% content_for :title do %>
  <%= @sleepscape.title %>
<% end %>
<% if @sleepscape.sleepscape_video.attached? %>
  <%= video_tag(url_for(@sleepscape.sleepscape_video), id: "soundscapeVideo" , class: "backgroundImage sleepscapeBackground",autoplay: :autoplay,
loop: :loop, muted: true, playsinline: true, controls: false) %>
<% else %>
  <h5>i dont have a video</h5>
<% end %>
<div class="loadingContainer" id="loadingContainer">
  <%= image_tag("loading", class: "loadingGif") %>
  <p class="loadingText">Loading Video...</p>
</div>
<div class="sleepScapeContainer" id="soundscapePage">
  <div class="clickBox" id="soundscapeClickBox"></div>
  <% if @sleepscape.sleepscape_audio.attached? %>
    <%= audio_tag(url_for(@sleepscape.sleepscape_audio), id: "soundscapeAudio") %>
  <% else %>
    <h1>no audio</h1>
  <% end %>
  <div class="audioContainer">
    <div class="btnsColumn">
      <div id="scapePlayBtn" class="playBtn">
        <%= image_tag("playIcon", class: "playIcon")%>
      </div>
      <div id="scapePauseBtn" class="pauseBtn">
        <%= image_tag("pauseIcon", class: "pauseIcon")%>
      </div>
    </div>
    <input type="range" value="37" min="0" max="100"  id="audioVolume">
  </div>
  <div id="sleepscapeMenu" class="bottomFooter">
    <div class="topBar">
      <div id="infoBtn" class="footerBtn">
        <%= image_tag("info", class: "menuSvg infoIcon") %>
      </div>
      <div id="commentsBtn" class="footerBtn">
        <p class="centerNum commentsNum"><%= @sleepscape.comments.length %></p>
        <%= image_tag("comments", class: "menuSvg infoIcon") %>
      </div>
      <% if signed_in? %>
        <% if current_user.likes.find_by(liked_id: @sleepscape.id) %>
          <%# if user HAS liked this post already %>
          <%= form_with url: remove_like_sleepscape_url(user_id: current_user.id) do |form|%>
            <%= form.hidden_field :liked_id, value: @sleepscape.id %>
            <div class="imageCont">
              <%= image_submit_tag("heart",  class: "footerBtn formBtn likedBtn") %>
              <p class="centerNum likesNum"><%= @all_likes.length %></p>
            </div>
            <%#  %>
          <% end %>
        <% else %>
          <%# if user HASNT liked this post already %>
          <%= form_with url: like_sleepscape_url(sleepscape_id: @sleepscape.id) do |form|%>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.hidden_field :liked_id, value: @sleepscape.id %>
            <div class="imageCont">
              <%= image_submit_tag("heart",  class: "footerBtn formBtn ") %>
              <p class="centerNum likesNum"><%= @all_likes.length %></p>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="footerBtn">
          Sign In To Like
        </div>
      <% end %>
    </div>
    <div id="bottomMenu" class="bottomContainer">
      <div id="infoContainer">
        <h3 class="infoTitle"><%= @sleepscape.title %></h3>
        <h3 class="infoLocation"><%= @sleepscape.recorded_at %></h3>
        <% @sleepscape.categorys.all.each do |category| %>
          <p>category: <%= category.category %></p>
        <% end %>
        <div class="line"></div>
        <p class="infoDescription"><%= @sleepscape.description %></p>
        <% if signed_in? %>
          <% if @sleepscape.user_id === current_user.id %>
            <div class="editContainer">
              <div class="lineBreak"></div>
              <h2>Edit SoundScape</h2>
              <%= form_with(url: edit_soundscape_url(id: @sleepscape.id), class: "defaultForm") do |f| %>
                <div class="inputContainer">
                  <%= f.label "Categorys" %>
                  <div class="checkBoxes">
                    <%# SLEEP %>
                    <div class="box">
                      <%= f.label :sleep_category, "[sleep]" %>
                      <% if @sleepscape.categorys.find_by(category: "sleep") %>
                        <%= f.check_box :sleep_category, checked: true %>
                      <% else %>
                        <%= f.check_box :sleep_category %>
                      <% end %>
                    </div>
                    <%# STUDY %>
                    <div class="box">
                      <%= f.label :study_category, "[study]"%>
                      <% if @sleepscape.categorys.find_by(category: "study") %>
                        <%= f.check_box :study_category, checked: true  %>
                      <% else %>
                        <%= f.check_box :study_category %>
                      <% end %>
                    </div>
                    <%# DISTRACTION %>
                    <div class="box">
                      <%= f.label :distract_category, "[distraction]" %>
                      <% if @sleepscape.categorys.find_by(category: "distraction") %>
                        <%= f.check_box :distract_category, checked: true %>
                      <% else %>
                        <%= f.check_box :distract_category %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="inputContainer">
                  <%= f.label :title %>
                  <%= f.text_field :title, value: @sleepscape.title %>
                </div>
                <div class="inputContainer">
                  <%= f.label :location %>
                  <%= f.text_field :location, value: @sleepscape.recorded_at %>
                </div>
                <div class="inputContainer">
                  <%= f.label :description %>
                  <%= f.text_field :description, value: @sleepscape.description %>
                </div>
                <%# DISTRACTION %>
                <%= f.submit "[save]", class: "defaultSubmit" %>
              <% end %>
              <div class="lineBreak"></div>
              <%= form_with(url: delete_soundscape_url(id: @sleepscape.id),method: "DELETE", class: "defaultForm") do |f| %>
                <br>
                <%= f.submit "[delete post forever]", class: "defaultSubmit defaultDelete", onclick: "return confirm('Are you sure you want to delete this post forever?')" %>
              <% end %>
              <br>
            <% end %>
            <%# ADMIN PANEL %>
            <% if current_user.admin? %>
              <br>
              <h2>admin panel:</h2>
              <% if AdminLike.find_by(liked_id: @sleepscape.id) %>
                <%= form_with(url: admin_dislike_url) do |f| %>
                  <%= f.hidden_field :id, value: @sleepscape.id %>
                  <%= f.submit "Remove Admin Like" %>
                <% end %>
              <% else %>
                <%= form_with(url: admin_like_url) do |f| %>
                  <%= f.hidden_field :id, value: current_user.id %>
                  <%= f.hidden_field :liked_id, value: @sleepscape.id %>
                  <%= f.submit "Add Admin like" %>
                <% end %>
              <% end %>
              <%= form_with(url: delete_soundscape_url(id: @sleepscape.id),method: "DELETE") do |f| %>
                <br>
                <%= f.submit "[delete users post forever]", onclick: "return confirm('Are you sure you want to delete this post forever?')" %>
              <% end %>
            </div>
          <% end %>
          <%# END OF ADMIN PANEL %>
        <% end %>
      </div>
      <div id="commentsContainer">
        <div class="commentsBox">
          <% @comments.each do |comment| %>
            <% commentUser = User.find(comment.user_id) %>
            <div class="comment">
              <p class="timeAgoText"><%= time_ago_in_words(comment.created_at) %> ago</p>
              <div class="left">
                <div class="userPicture">
                  <% if commentUser.profile_picture.attached? %>
                    <%= image_tag(commentUser.profile_picture, class: "commentPic")%>
                  <% else %>
                    <%= image_tag("defaultUser", class: "commentPic")%>
                  <% end %>
                </div>
                <div class="userName"><%= commentUser.name %></div>
              </div>
              <div class="right">
                <div class="bubble">
                  <p class="commentText"><%= comment.content %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="createCommentBox">
          <% if signed_in? %>
            <%= form_with url: create_comment_url(sleepscape_id: @sleepscape.id) do |form|%>
              <%= form.hidden_field :user_id, value: current_user.id %>
              <%= form.text_field :content, class: "commentTextInput", placeholder: "Type your comment here!" %>
              <%= form.submit :submit, class: "commentSubmit" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%# old stuff hiding behind lol %>
