<% if @sleepscape.sleepscape_video.attached? %>
  <%= video_tag(url_for(@sleepscape.sleepscape_video), class: "backgroundImage sleepscapeBackground",autoplay: :autoplay,
loop: :loop, muted: true) %>
<% else %>
  <h5>i dont have a video</h5>
<% end %>
<div class="sleepScapeContainer">
  <div class="bottomFooter">
    <div class="topBar">
      <div class="pageInfo">
        <h1 class="sleepscapeTitle">
          <%= @sleepscape.title %> - <%= @sleepscape.recorded_at %>
        </h1>
      </div>
      <div class="footerBtn">
        info
      </div>
      <div class="footerBtn">
        comments
      </div>
      <% if signed_in? %>
        <% if current_user.likes.find_by(liked_id: @sleepscape.id) %>
          <%# if user HAS liked this post already %>
          <%= form_with url: remove_like_sleepscape_url(user_id: current_user.id) do |form|%>
            <%= form.hidden_field :liked_id, value: @sleepscape.id %>
            <%= form.submit :unlike, class: "footerBtn formBtn likedBtn", value: "Un-Like" %>
            <%#  %>
          <% end %>
        <% else %>
          <%# if user HASNT liked this post already %>
          <%= form_with url: like_sleepscape_url(sleepscape_id: @sleepscape.id) do |form|%>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.hidden_field :liked_id, value: @sleepscape.id %>
            <%= form.submit :like, class: "footerBtn formBtn", value: "Like" %>
          <% end %>
        <% end %>
      <% else %>
        <div class="footerBtn">
          Sign In To Like
        </div>
      <% end %>
    </div>
    <div class="bottomContainer">
    </div>
  </div>
</div>
<%# old stuff hiding behind lol %>
