<% if @sleepscape.sleepscape_video.attached? %>
  <%= video_tag(url_for(@sleepscape.sleepscape_video), class: "backgroundImage sleepscapeBackground",autoplay: :autoplay,
loop: :loop, muted: true) %>
<% else %>
  <h5>i dont have a video</h5>
<% end %>
<<<<<<< HEAD
<div class="sleepScapeContainer">
  <% if @sleepscape.sleepscape_audio.attached? %>
    <h1>AUDIO</h1>
    <%= audio_tag(url_for(@sleepscape.sleepscape_audio), controls: true, id: "scapeAudio") %>
  <% end %>
=======
<% if @sleepscape.sleepscape_audio.attached? %>
  <%= audio_tag(url_for( @sleepscape.sleepscape_audio),id: "scapeAudio" ,controls: true,autoplay: :autoplay, class: "audioTag") %>
  <input type="range" min="0" max="100" value="50" class="slider" id="sliderRange">
<% else %>
  <h1 class="audioTag">no audio</h1>
<% end %>
<div id="soundscapeParent" class="sleepScapeContainer">
>>>>>>> 36171bf0f4b6a7c2de91e4ed6a2c9ff777562db6
  <div id="sleepscapeMenu" class="bottomFooter">
    <div class="topBar">
      <div id="infoBtn" class="footerBtn">
        <%= image_tag("info", class: "menuSvg infoIcon") %>
      </div>
      <div id="commentsBtn" class="footerBtn">
        <p class="centerNum commentsNum"><%= @sleepscape.comments.length %></p>
        <%= image_tag("comments", class: "menuSvg infoIcon") %>
      </div>
      <% if signed_in? %>
        <% if current_user.likes.find_by(liked_id: @sleepscape.id) %>
          <%# if user HAS liked this post already %>
          <%= form_with url: remove_like_sleepscape_url(user_id: current_user.id) do |form|%>
            <%= form.hidden_field :liked_id, value: @sleepscape.id %>
            <div class="imageCont">
              <%= image_submit_tag("heart",  class: "footerBtn formBtn likedBtn") %>
              <p class="centerNum likesNum"><%= @all_likes.length %></p>
            </div>
            <%#  %>
          <% end %>
        <% else %>
          <%# if user HASNT liked this post already %>
          <%= form_with url: like_sleepscape_url(sleepscape_id: @sleepscape.id) do |form|%>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.hidden_field :liked_id, value: @sleepscape.id %>
            <div class="imageCont">
              <%= image_submit_tag("heart",  class: "footerBtn formBtn ") %>
              <p class="centerNum likesNum"><%= @all_likes.length %></p>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="footerBtn">
          Sign In To Like
        </div>
      <% end %>
    </div>
    <div id="bottomMenu" class="bottomContainer">
      <div id="infoContainer">
        <h3 class="infoTitle"><%= @sleepscape.title %></h3>
        <h3 class="infoLocation"><%= @sleepscape.recorded_at %></h3>
        <div class="line"></div>
        <p class="infoDescription"><%= @sleepscape.description %></p>
      </div>
      <div id="commentsContainer">
        <div class="commentsBox">
          <% @comments.each do |comment| %>
            <% commentUser = User.find(comment.user_id) %>
            <div class="comment">
              <p class="timeAgoText"><%= time_ago_in_words(comment.created_at) %> ago</p>
              <div class="left">
                <div class="userPicture">
                  <% if commentUser.profile_picture.attached? %>
                    <%= image_tag(commentUser.profile_picture, class: "commentPic")%>
                  <% else %>
                    <%= image_tag("defaultUser", class: "commentPic")%>
                  <% end %>
                </div>
                <div class="userName"><%= commentUser.name %></div>
              </div>
              <div class="right">
                <div class="bubble">
                  <p class="commentText"><%= comment.content %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="createCommentBox">
          <% if signed_in? %>
            <%= form_with url: create_comment_url(sleepscape_id: @sleepscape.id) do |form|%>
              <%= form.hidden_field :user_id, value: current_user.id %>
              <%= form.text_area :content, class: "commentTextInput", placeholder: "Type your comment here!" %>
              <%= form.submit :submit, class: "commentSubmit" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="audioMenu"></div>
</div>
<%# old stuff hiding behind lol %>
