<!DOCTYPE html>
<html>
  <head>
    <title><%= title_helper(yield :title)  %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <%= render 'application/favicon' %>
  </head>
  <body>
    <% if signed_in? %>
      <%= render 'layouts/signed_in_header' %>
    <% else %>
      <%= render 'layouts/signed_out_header' %>
    <% end %>
    <main id="mainPage">
      <div id="menuButton" class="menuButton">
        <%= image_tag("menu.svg", class: "menuIcon") %>
        <%= image_tag("arrow.svg", class: "arrowIcon", id: "arrowIcon") %>
      </div>
      <div id="mainContainer" class="sleepContainer">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
